<!DOCTYPE html>
<html>
  	<head>
    	<title><%= title %></title>
    	<link rel='stylesheet' href='/stylesheets/index.css' />
    	<link rel='stylesheet' href='/stylesheets/bootstrap.min.css' />
  	</head>
  	<body>
  		<div class="container">
  			<div class="center">
  				<ul class="main-list">
  					<li><a href="/lexicon" class="btn btn-primary">开始背单词</a></li>
  					<li><a href="/input" class="btn btn-success">添加单词</a></li>
  					<li><a id="init-data" href="javascript:;" class="btn btn-danger">刷新数据库</a></li>
  				</ul>
  			</div>
		</div>

		<script type="text/javascript" src="/javascripts/jquery-2.2.3.js"></script>
		<script type="text/javascript" src="/javascripts/underscore.js"></script>
		<script type="text/javascript">
      $('#init-data').click(function (e) {
        $.ajax({
          url: '/data/init',
          success: function(data) {
            alert(data);
          }
        });
      });
    </script>
  	</body>
</html>
